---
version: '3'

services:
  web:
    build:
      context: web
    depends_on:
      - app
    ports:
      - 80:80
    volumes:
      - ./web:/var/www/web
  app:
    build:
      context: app
    ports:
      - 9000
    volumes:
      - ./app:/var/www/app